PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=swrcrg_db
DB_USER=postgres
DB_PASSWORD=tu_password

# JWT
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=7d

